@page "/settings/changePassword"

@inject HttpClientExtensions _httpCExt
@inject IToastService _toastService
@inject IAuthorizationHandlerService _authInterceptor

@attribute [Authorize]

<div>
    <EditForm Model="@_user" Context="chPassContext">
        <DataAnnotationsValidator />
        <input type="password" class="form-control" placeholder="Parola veche" @bind="_user.oldPassword">
        <input type="password" class="form-control" placeholder="Parola noua" @bind="_user.password">
        <button type="submit" class="btn btn-outline-primary" @onclick="@(() => ChangePasswordAsync(chPassContext, _user))">Schimba Parola</button>
    </EditForm>
</div>

@code {

    private UserModel _user = new UserModel();

    private async Task ChangePasswordAsync(EditContext formContext, UserModel body)
    {
        ResponseModel res = new ResponseModel();

        if (formContext.Validate())
        {
            res = await _httpCExt.PostAsync<ResponseModel>("new/api/user/settings/changePassword", body);
        }

        else
        {
            foreach(var message in formContext.GetValidationMessages())
            {
                _toastService.ShowError(message, "Eroare");
            }
        }

        if(res.statusCode == 200)
        {
            _toastService.ShowSuccess("Parola dumneavoastra a fost schimbata.", "Succes");
        }
    }
}
